<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=, initial-scale=1.0")
        title Node.js
        link(rel="stylesheet" href="/css/style.css")
    body
        h1 Node...qué podríamos decir de Node... 
        div.est
            h4 Estudia
            h4 Persevera
            h4 Dedícale tiempo
            h4 Llora
        br
        a.est(href="/Location_Ni_te_imaginas_lo_que_te_espera") Dónde estamos!!    
            