<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=, initial-scale=1.0")
        title title Node.js
        link(rel="stylesheet" href="/css/style.css")
    body
        h1 Que qué hago??...intentar que me llegue el pensamiento lógico
        h3 ¡¡NO HAY MANERA!!

        a.miss(href="/Contact_Llama_llama_que_veras_que_gracia") Contáctanos
